/* HEADER */

#headerContainer {
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-top: 30px;
    margin-bottom: 30px;
    /* outline: 3px solid rgb(197, 32, 32); */
}

#logo {
    width: 200px;
    /* outline: 3px solid rgb(197, 32, 32); */
}




/* LOGOUT */
#logout {

    color: var(--grey);
    cursor: pointer;
    /* outline: 3px solid rgb(197, 32, 32); */
}

#logout:hover {
    
    opacity: 0.50;
    transition: opacity 200ms ease-in-out;
}



/* MAIN */
#buttonDel {
    height: 30px;
    display: flex;
    align-items:center;
    
    padding:0px 10px;
    border-radius: 5px;
    background-color: var(--lightlightgrey);
    color: var(--lightgrey);
    font-size: var(--tiny);
    /* outline: black 1px solid; */
}

#formContainer {
    margin-bottom: 10px;
}

#mainContainer {
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* outline: 3px solid rgb(197, 32, 32); */
}


#lineContainer {
    
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: var(--almostwhite);
    border-radius: 7px;
    border-right: 3px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: -3px 0px 6px 2px rgba(0,0,0,0.05);
    margin-bottom: 2px;
    /* outline: 3px solid rgb(32, 197, 153); */
}


#lineBlock {
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* outline: #6573f0 5px solid; */
}

#numberInLine {
    padding: 10px;
    display: flex;
    align-items: center;
    color: var(--blue);
    /* outline: black 1px solid; */
}

.input {
    margin: 0;
    padding: 0px 10px;
    width: 20%;
    border: none;
    background-color: var(--almostwhite);
    /* outline: black 1px solid; */
}

input:focus {
    outline: none;
}

::placeholder { 
    color: var(--lightgrey);
    opacity: 1;
    font-size: var(--tiny);
}

p {
    margin:0;
    line-height: 1;
}


#time {
    width: 180px;
    padding-right: 40px;
    color: var(--graphite);
    border: none;
    background-color: var(--almostwhite);
    /* outline: black 1px solid; */
}

#symptoms {
    width: 20%;
    /* outline: black 1px solid; */
}

button {
    background: none;
    border: none;
    color: var(--blue);
}


button:disabled {
    color:var(--lightgrey);
}


button:hover {

    opacity: 0.50;
    transition: opacity 200ms ease-in-out;
};






    /* DROP-DOWN MENU */
/* select:focus {
    outline: none;
}

#selectOptions {
    height: 40px;
    border-radius: 6px;
    text-align: center;
    background-color: var(--lightlightgrey);
    border: none;
    color: var(--blue);
    font-weight: bold;
}

#selectOptions > option {
    color: var(--contrastgrey);
} */






/* -----VALIDATION----- */

/* input :valid
{

} */

