/* HEADER */

#headerContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-top: 30px;
    margin-bottom: 30px;
    /* outline: 3px solid rgb(197, 32, 32); */
}

#logo {
    width: 200px;
    /* outline: 3px solid rgb(197, 32, 32); */
}

/* LOGOUT */
#logout {
    color: var(--grey);
    cursor: pointer;
    /* outline: 3px solid rgb(197, 32, 32); */
}

#logout:hover {
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
}

/* MAIN */
p {
    margin: 0;
    line-height: 1;
}

#buttonDel {
    height: 25px;
    max-width: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;

    margin-right: 10px;
    border-radius: 5px;
    background-color: var(--lightlightgrey);
    color: var(--lightgrey);
    font-size: var(--small);
    /* outline: black 1px solid; */
}

#buttonDone {
    padding: 5px 0px;
    max-width: 70px;
    border: var(--lightlightblue) 1px solid;
    border-radius: 7px;
}

#canvas {
    width: 80vw;
    height: 100vh;
    margin: auto;

    display: flex;
    flex-direction: column;

    /* outline: 3px solid rgb(197, 32, 32); */
}


#formWrapper {
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: var(--almostwhite);
    border-right: 3px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 7px;

    margin-bottom: 30px;

    /* outline: 3px solid rgb(162, 96, 173); */
}

#form {
    width: 100%;
    grid-gap: 10px;

    display: grid;
    grid-template-columns: 40px repeat(10, 1fr);

    /* outline: 3px solid rgb(65, 193, 75); */
}

input {
    all: unset;
    min-width: 100%;
    color: var(--graphite);
    font-family: "Barlow", sans-serif;

    /* outline: black 1px solid;     */
}

input:focus {
    outline: none;
}

input[type="date"],
input[type="time"] {
    all: unset;
    max-width: 80%;
    /* outline: black 1px solid;     */
}

::placeholder {
    color: var(--lightgrey);
    font-size: var(--small);
    padding-left: 5px;
}

#sortingContainer {

    display: grid;
  
    grid-template-columns: 40px repeat(11, 1fr);
    margin-bottom: 10px;

    /* outline: 3px solid rgb(56, 18, 211); */
}

.sortingBtn {
    all: unset;
    height: 40px;
    text-align: center;
    color: var(--blue);
    font-size: var(--tiny);
}

.sortingBtn:hover {
    all: unset;
    height: 40px;
    color: var(--blue);
    font-size: var(--tiny);
    font-weight: bold;
    transition:font-size 300ms ease-in-out;
}

#dataContainer {
    max-height: 100vh;
    overflow: auto;
    /* outline: 3px solid rgb(38, 225, 197); */
}

#wrapper {
    min-height: 40px;

    display: flex;
    align-items: center;

    background-color: var(--almostwhite);
    border-radius: 7px;
    border-right: 3px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: -3px 0px 6px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 3px;

    /* outline: 3px solid rgb(225, 38, 163); */
}

#dataGroup {
    width: 100vw;
    display: grid;
    grid-gap: 10px;
  
    grid-template-columns: 40px repeat(10, 1fr);
    align-items: center;


    /* outline: 3px solid rgb(56, 18, 211); */
}

#allPatientsDataGroup {
    width: 100vw;
    display: grid;
    grid-gap: 10px;
    /* grid-template-columns: 40px minmax(400px, 1fr) minmax(400px, 1fr) 100px 300px 2fr 50px; */
    grid-template-columns: 40px repeat(11, 1fr);
    align-items: center;

    /* outline: 3px solid rgb(56, 18, 211); */
}

#numberInLine {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    color: var(--blue);
    /* outline: black 1px solid; */
}

.textTypeData {
    border: none;
    background-color: var(--almostwhite);

    outline: black 1px solid;
}

button {
    background: none;
    border: none;
    color: var(--blue);
    font-size: var(--small);
}

button:disabled {
    color: var(--lightgrey);
}

button:hover {
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
}

/* -----VALIDATION----- */

/* input :valid
{

} */
