.logoGrayedOut {
    width: 250px;

    margin-top: 20px;
    margin-left: 40px;
    opacity: 0.3;
}

.patientMainContainer {
    position: relative;

    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    
    width:400px;
    height: 40vh;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;

    background-color: var(--almostwhite);
    
    border-radius: 7px;
    border-right: 3px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 0px 10px 10px 3px rgba(0,0,0,0.1);
    /* outline: 1px black solid; */
}

.patientMainContainer::before {
    position: absolute;
    content: "";

    background-image: url("../images/bg_colors_1200.png");
    background-position: 45% 65%;
    background-size: 160%; 
    opacity: 0.3;

    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    /* outline: 1px black solid; */
}

#mainForm {

    position: relative;
    margin-top: 150px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    /* outline: 1px black solid; */
}

.coreDataBlock {

    position: relative;
    margin:auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* outline: 1px black solid; */
}

.messageText {
    position: relative;

    line-height: 1.3;
    max-width: 80%;
    text-align: center;
    color: var(--grey);
}

#inputTel {
    all:unset;
    width: 70%;
    height: 50px;
    border-radius: 7px;
    margin-top: 1rem;
    margin-bottom: 1.7rem;
    text-align: center;
    background-color: white; 
    color: var(--blue);
    font-size: var(--font-large);
    /* outline: 1px black solid; */
}

#inputTel::placeholder {
    color: var(--lightlightblue);
    font-size: var(--small);
    text-align: center;
    font-weight: lighter;
}


#timeAppointment {
    font-size: var(--font-largelarge);
    margin-top: 20px;
    margin-bottom: 40px;
}

#count {
    font-size: var(--font-large);
    margin-top: 20px;
    margin-bottom: 40px;
}

#readyMessage {
    font-size: var(--font-large);
    color: var(--blue);
    margin-bottom: 40px;
}

span {
    font-weight: bold;
    line-height: 1.5rem;
}


/* PHONE VALIDATION */

#inputTel:invalid:not(:focus):not(:placeholder-shown) {
    background: pink;
}

#inputTel:invalid:focus:not(:placeholder-shown) ~ #requirementsPatientTel {
    max-width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
    /* padding: 10px; */
}

#requirementsPatientTel {
    max-width: 0;
    height: 0;

    overflow: hidden;

    text-align: center;

    font-size: var(--small);
    color: var(--red);
    line-height: 1.25rem;
    font-style: italic;

    transition: 0.52s;

    /* outline: 1px black solid;     */
}

#errorMessage {

    margin-top: 20px;
    color: var(--red);
    /* outline: 1px black solid;     */
}

