#patientMainContainer {

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width:400px;
    height: 40vh;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;

    background-color: var(--almostwhite);
    border-radius: 7px;
    border-right: 3px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 0px 10px 10px 3px rgba(0,0,0,0.1);
    /* outline: 1px black solid; */
}
.messageText {

    color: var(--grey);
}

.logoGrayedOut {
    width: 250px;

    margin-top: 20px;
    margin-left: 40px;
    opacity: 0.3;
}

#timeAppointment {
    font-size: var(--font-largelarge);
    margin-top: 20px;
    margin-bottom: 40px;
}

#count {
    font-size: var(--font-large);
    margin-top: 20px;
    margin-bottom: 40px;
}

#readyMessage {
    font-size: var(--font-large);
    color: var(--blue);
    margin-top: 20px;
    margin-bottom: 40px;
}

